body{
    background-image: url('img.jpg');
}
li{
    transition: background-color 7s;
}
li:hover{
    background-color: cornsilk;
}
a{
    transition: background-color o.5s;
}
a:hover{
    background-color: cornsilk;
}