body{
    background-image: url('img.jpg');
}
li{
    transition: background-color 8s;
}
li:hover{
    background-color: cornsilk;
}
a{
    transition: background-color o.5s;
}
a:hover{
    background-color: cornsilk;
}
footer{
    text-align: center;
    background-color: black;
    color: whitesmoke;
    transition: background-color 8s;
    transition: color 8s;
}
footer:hover{
    background-color: whitesmoke;
    color: black;
}
