li{
    transition: background-color 7s;
}
li:hover{

    background-color:cornsilk;
}
h1{
    font-size: 10px;
    font-family: 'Times New Roman', Times, serif;
    
    text-align: center;
}

a{
    transition: background-color o.5s;
}
a:hover{
    background-color: cornsilk;
}
.card{
    margin:7px;
    padding: 3px;

}
