li{
    transition: background-color 0.5s;
}
li:hover{
    background-color:bisque;
}
h1{
    font-size: 10px;
    font-family: 'Times New Roman', Times, serif;
}
body{
    background-image: url('img.jpg');
}
a{
    transition: background-color o.5s;
}
a:hover{
    background-color: bisque;
}