li{
    transition: background-color 8s;
}
li:hover{

    background-color:cornsilk;
}
h1{
    font-size: 10px;
    font-family: 'Times New Roman', Times, serif;
    
    text-align: center;
}

a{
    transition: background-color o.5s;
}
a:hover{
    background-color: cornsilk;
}
footer{
    text-align: center;
    background-color: black;
    color: whitesmoke;
    transition: background-color 8s;
    transition: color 8s;
}
footer:hover{
    background-color: whitesmoke;
    color: black;
}

